In [10]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        
        SELECT 
        F.name,
        sum((case when B.memid=0 then F.guestcost Else F.membercost end) * B.slots) as revenue
        FROM Bookings B
        join Facilities F on B.facid=F.facid
        group by F.name
        having sum((case when B.memid=0 then F.guestcost Else F.membercost end) * B.slots) <1000
        order by revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
    headers = [d[0] for d in cur.description] 
    print(headers)
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
['name', 'revenue']
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [28]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        
        SELECT O.Firstname||' '||O.Surname as Member,
        R.Firstname||' '||R.Surname as RecommendedBy
        FROM
        MEMBERS O
        LEFT JOIN MEMBERS R on O.recommendedby=R.memid
        Where O.Firstname not like 'GUEST'
        Order by O.Surname,O.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
    headers = [d[0] for d in cur.description] 
    print(headers)
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
['Member', 'RecommendedBy']
('Florence Bader', 'Ponder Stibbons')
('Anne Baker', 'Ponder Stibbons')
('Timothy Baker', 'Jemima Farrell')
('Tim Boothe', 'Tim Rownam')
('Gerald Butters', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('Erica Crumpet', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('David Farrell', None)
('Jemima Farrell', None)
('Matthew Genting', 'Gerald Butters')
('John Hunt', 'Millicent Purview')
('David Jones', 'Janice Joplette')
('Douglas Jones', 'David Jones')
('Janice Joplette', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Charles Owen', 'Darren Smith')
('David Pinker', 'Jemima Farrell')
('Millicent Purview', 'Tracy Smith')
('Tim Rownam', None)
('Henrietta Rumney', 'Matthew Genting')
('Ramnaresh Sarwin', 'Florence Bader')
('Darren Smith', None)
('Darren Smith', None)
('Jack Smith', 'Darren Smith')
('Tracy Smith', None)
('Ponder Stibbons', 'Burton Tracy')
('Burton Tracy', None)
('Hyacinth Tupperware', None)
('Henry Worthington-Smyth', 'Tracy Smith')

In [30]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        
        Select F.Name, Sum(B.slots) as usage 
        FROM Bookings B
        Join Facilities F on B.facid=F.Facid
        where b.memid<>0
        group by F.name
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
    headers = [d[0] for d in cur.description] 
    print(headers)
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
['name', 'usage']
('Badminton Court', 1086)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Pool Table', 856)
('Snooker Table', 860)
('Squash Court', 418)
('Table Tennis', 794)
('Tennis Court 1', 957)
('Tennis Court 2', 882)

In [45]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        WITH months(num, month_name) AS (
          VALUES
          (1,'January'),(2,'February'),(3,'March'),(4,'April'),
          (5,'May'),(6,'June'),(7,'July'),(8,'August'),
          (9,'September'),(10,'October'),(11,'November'),(12,'December')
        )
        Select F.Name, M.month_name,sum(b.slots) as usage
        FROM Bookings B
        Join Facilities F on B.facid=F.Facid
        join months M on M.num=Cast(strftime('%m',B.Starttime) as INTEGER)
        where b.memid<>0
        group by F.name, M.month_name
        
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
    headers = [d[0] for d in cur.description] 
    print(headers)
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
['name', 'month_name', 'usage']
('Badminton Court', 'August', 414)
('Badminton Court', 'July', 165)
('Badminton Court', 'September', 507)
('Massage Room 1', 'August', 316)
('Massage Room 1', 'July', 166)
('Massage Room 1', 'September', 402)
('Massage Room 2', 'August', 18)
('Massage Room 2', 'July', 8)
('Massage Room 2', 'September', 28)
('Pool Table', 'August', 303)
('Pool Table', 'July', 110)
('Pool Table', 'September', 443)
('Snooker Table', 'August', 316)
('Snooker Table', 'July', 140)
('Snooker Table', 'September', 404)
('Squash Court', 'August', 184)
('Squash Court', 'July', 50)
('Squash Court', 'September', 184)
('Table Tennis', 'August', 296)
('Table Tennis', 'July', 98)
('Table Tennis', 'September', 400)
('Tennis Court 1', 'August', 339)
('Tennis Court 1', 'July', 201)
('Tennis Court 1', 'September', 417)
('Tennis Court 2', 'August', 345)
('Tennis Court 2', 'July', 123)
('Tennis Court 2', 'September', 414)